In [1]:
## Loading and cleaning Banking_customer_data using pandas

import pandas as pd

df = pd.read_csv('Banking_customer_data.csv')

In [2]:
df.head()

,Client ID,Name,Age,Location ID,Joined Bank,Banking Contact,Nationality,Occupation,Fee Structure,Loyalty Classification,...,Bank Deposits,Checking Accounts,Saving Accounts,Foreign Currency Account,Business Lending,Properties Owned,Risk Weighting,BRId,GenderId,IAId
0,IND81288,Raymond Mills,24,34324,06/05/2019,Anthony Torres,American,Safety Technician IV,High,Jade,...,1485828.64,603617.88,607332.46,12249.96,1134475.30,1,2,1,1,1
1,IND65833,Julia Spencer,23,42205,10/12/2001,Jonathan Hawkins,African,Software Consultant,High,Jade,...,641482.79,229521.37,344635.16,61162.31,2000526.10,1,3,2,1,2
2,IND47499,Stephen Murray,27,7314,25/01/2010,Anthony Berry,European,Help Desk Operator,High,Gold,...,1033401.59,652674.69,203054.35,79071.78,548137.58,1,3,3,2,3
3,IND72498,Virginia Garza,40,34594,28/03/2019,Steve Diaz,American,Geologist II,Mid,Silver,...,1048157.49,1048157.49,234685.02,57513.65,1148402.29,0,4,4,1,4
4,IND60181,Melissa Sanders,46,41269,20/07/2012,Shawn Long,American,Assistant Professor,Mid,Platinum,...,487782.53,446644.25,128351.45,30012.14,1674412.12,0,3,1,2,5

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 25 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Client ID                 3000 non-null   object
 1   Name                      3000 non-null   object
 2   Age                       3000 non-null   int64
 3   Location ID               3000 non-null   int64
 4   Joined Bank               3000 non-null   object
 5   Banking Contact           3000 non-null   object
 6   Nationality               3000 non-null   object
 7   Occupation                3000 non-null   object
 8   Fee Structure             3000 non-null   object
 9   Loyalty Classification    3000 non-null   object
 10  Estimated Income          3000 non-null   float64
 11  Superannuation Savings    3000 non-null   float64
 12  Amount of Credit Cards    3000 non-null   int64
 13  Credit Card Balance       3000 non-null   float64
 14  Bank Loans                3000 non-null   float64
 15  Bank Deposits             3000 non-null   float64
 16  Checking Accounts         3000 non-null   float64
 17  Saving Accounts           3000 non-null   float64
 18  Foreign Currency Account  3000 non-null   float64
 19  Business Lending          3000 non-null   float64
 20  Properties Owned          3000 non-null   int64
 21  Risk Weighting            3000 non-null   int64
 22  BRId                      3000 non-null   int64
 23  GenderId                  3000 non-null   int64
 24  IAId                      3000 non-null   int64
dtypes: float64(9), int64(8), object(8)
memory usage: 586.1+ KB

In [4]:
## Summary statistics using .describe()

df.describe(include='all')

,Client ID,Name,Age,Location ID,Joined Bank,Banking Contact,Nationality,Occupation,Fee Structure,Loyalty Classification,...,Bank Deposits,Checking Accounts,Saving Accounts,Foreign Currency Account,Business Lending,Properties Owned,Risk Weighting,BRId,GenderId,IAId
count,3000,3000,3000.000000,3000.000000,3000,3000,3000,3000,3000,3000,...,3.000000e+03,3.000000e+03,3.000000e+03,3000.000000,3.000000e+03,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000
unique,2940,2913,NaN,NaN,2579,49,5,195,3,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,IND48103,Jeremy Alexander,NaN,NaN,19/06/2020,Ernest Rivera,European,Associate Professor,High,Jade,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,3,2,NaN,NaN,4,77,1309,28,1476,1331,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,51.039667,21563.323000,NaN,NaN,NaN,NaN,NaN,NaN,...,6.715602e+05,3.210929e+05,2.329084e+05,29883.529993,8.667598e+05,1.518667,2.249333,2.559333,1.504000,10.425333
std,NaN,NaN,19.854760,12462.273017,NaN,NaN,NaN,NaN,NaN,NaN,...,6.457169e+05,2.820796e+05,2.300078e+05,23109.924010,6.412303e+05,1.102145,1.131191,1.007713,0.500067,5.988242
min,NaN,NaN,17.000000,12.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000e+00,0.000000e+00,0.000000e+00,45.000000,0.000000e+00,0.000000,1.000000,1.000000,1.000000,1.000000
25%,NaN,NaN,34.000000,10803.500000,NaN,NaN,NaN,NaN,NaN,NaN,...,2.044004e+05,1.199475e+05,7.479440e+04,11916.542500,3.748251e+05,1.000000,1.000000,2.000000,1.000000,5.000000
50%,NaN,NaN,51.000000,21129.500000,NaN,NaN,NaN,NaN,NaN,NaN,...,4.633165e+05,2.428157e+05,1.640866e+05,24341.190000,7.113147e+05,2.000000,2.000000,3.000000,2.000000,10.000000
75%,NaN,NaN,69.000000,32054.500000,NaN,NaN,NaN,NaN,NaN,NaN,...,9.427546e+05,4.348749e+05,3.155750e+05,41966.392500,1.185110e+06,2.000000,3.000000,3.000000,2.000000,15.000000
max,NaN,NaN,85.000000,43369.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,3.890598e+06,1.969923e+06,1.724118e+06,124704.870000,3.825962e+06,3.000000,5.000000,4.000000,2.000000,22.000000

In [5]:
## Checking if missing data or null values are present in the dataset

df.isnull().sum()

Client ID                   0
Name                        0
Age                         0
Location ID                 0
Joined Bank                 0
Banking Contact             0
Nationality                 0
Occupation                  0
Fee Structure               0
Loyalty Classification      0
Estimated Income            0
Superannuation Savings      0
Amount of Credit Cards      0
Credit Card Balance         0
Bank Loans                  0
Bank Deposits               0
Checking Accounts           0
Saving Accounts             0
Foreign Currency Account    0
Business Lending            0
Properties Owned            0
Risk Weighting              0
BRId                        0
GenderId                    0
IAId                        0
dtype: int64

In [6]:
## Converting all column to lowercase 

df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')
df = df.rename(columns={'name':'account_holder'})

## Checking the column names 

df.columns

Index(['client_id', 'account_holder', 'age', 'location_id', 'joined_bank',
       'banking_contact', 'nationality', 'occupation', 'fee_structure',
       'loyalty_classification', 'estimated_income', 'superannuation_savings',
       'amount_of_credit_cards', 'credit_card_balance', 'bank_loans',
       'bank_deposits', 'checking_accounts', 'saving_accounts',
       'foreign_currency_account', 'business_lending', 'properties_owned',
       'risk_weighting', 'brid', 'genderid', 'iaid'],
      dtype='object')

In [7]:
## create a new column, age_group

labels = ['Young Adult', 'Adult', 'Middle-aged', 'Senior']
df['age_group'] = pd.qcut(df['age'], q=4, labels = labels)

In [8]:
df[['age','age_group']].head(10)

   age    age_group
0   24  Young Adult
1   23  Young Adult
2   27  Young Adult
3   40        Adult
4   46        Adult
5   23  Young Adult
6   46        Adult
7   78       Senior
8   67  Middle-aged
9   51        Adult

In [9]:
## Importing numpy library for datetime calculation

import numpy as np
from datetime import datetime

##   Convert 'Joined Bank' to datetime objects
##  The format %d/%m/%Y matches '06/05/2019'

df['joined_bank'] = pd.to_datetime(df['joined_bank'], format='%d/%m/%Y')

##  Calculate the tenure in years
##  We calculate the number of days since joining and divide by 365.25

today = pd.Timestamp.now()
df['years_since_joined'] = ((today - df['joined_bank']).dt.days / 365.25).astype(int)

##  Define the grouping logic
##  Grouping bank customers into older, intermediate and new customers

conditions = [
    (df['years_since_joined'] > 10),                                
    (df['years_since_joined'] >= 3) & (df['years_since_joined'] <= 10), 
    (df['years_since_joined'] < 3)                                 
]

choices = ['older_customers', 'intermediate_customer', 'new_customers']

##  Create the new column

df['customer_segment'] = np.select(conditions, choices, default='Unknown')

##  Display the first few rows to verify

print(df[['account_holder', 'joined_bank', 'years_since_joined', 'customer_segment']].head())

    account_holder joined_bank  years_since_joined       customer_segment
0    Raymond Mills  2019-05-06                   6  intermediate_customer
1    Julia Spencer  2001-12-10                  24        older_customers
2   Stephen Murray  2010-01-25                  15        older_customers
3   Virginia Garza  2019-03-28                   6  intermediate_customer
4  Melissa Sanders  2012-07-20                  13        older_customers

In [10]:
## checking the full column names

df.columns

Index(['client_id', 'account_holder', 'age', 'location_id', 'joined_bank',
       'banking_contact', 'nationality', 'occupation', 'fee_structure',
       'loyalty_classification', 'estimated_income', 'superannuation_savings',
       'amount_of_credit_cards', 'credit_card_balance', 'bank_loans',
       'bank_deposits', 'checking_accounts', 'saving_accounts',
       'foreign_currency_account', 'business_lending', 'properties_owned',
       'risk_weighting', 'brid', 'genderid', 'iaid', 'age_group',
       'years_since_joined', 'customer_segment'],
      dtype='object')

In [11]:
##  Since the data is clean next is loading the data to SQL database
## connecting to a SQL database and loading the data into a SQL table

import urllib.parse
from sqlalchemy import create_engine

## 1. Define your credentials
username = "postgres"         ## database username
password = "oduor@8403"       ## If password contains @, #, or !, quoting handles it
host = "localhost"            ## or your database server address
port = "5432"                 ## default port for PostgreSQL
database = "banking_customer_data"   ## database name you want to connect to in your pgAdmin

## 2. Encode the password to handle special characters safely
safe_password = urllib.parse.quote_plus(password)

## 3. Construct the engine URL correctly
## Note: Ensure it is 'postgresql' (with an 'l') and not 'postgresq1'
url = f"postgresql+psycopg2://{username}:{safe_password}@{host}:{port}/{database}"

engine = create_engine(url)

## 4. Test the connection
try:
    with engine.connect() as connection:
        print("Successfully connected to the database!")
        df.to_sql("banking_customer_data", engine, if_exists="replace", index=False)
except Exception as e:
    print(f"An error occurred: {e}")

Successfully connected to the database!